.block {
  display: flex;
}

.supb {
  color: blue;
  outline: 1px solid blue;
  width: 50%;
  min-width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.center {
  text-align: center;
}

.indent {
  padding-left: 35px;
}

img {
  max-width: 150px;
}

h2 {
  text-align: center;
}

.tableOfContents {

}

.regular {
  
}

.grid {

}
